<!-- <!DOCTYPE html>

<html>
<head>
    <title>Blog App - backend Info</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="container">
        <h1>Backend Information</h1>
      <ul>
  <li><strong>Hostname:</strong> <%# <%= hostname  %></li>
  <li><strong>Uptime:</strong> <%= uptime %></li>
  <li><strong>Total Memory:</strong> <%= totalmemory %></li>
</ul>
    </div>  


</html> -->


<!-- <!DOCTYPE html><html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About - Blog App</title>
  <link rel="stylesheet" href="/stylesheets/style.css"> 
</head>
<body>  